<nav class="sidebar" id="sidebar">
  <div class="close-menu" id="close-menu-btn">
    <img
      src="icons/close.png"
      alt="close"
      class="icon-close"
      id="close-menu-btn"
    />
  </div>
  <div class="sidebar-content">
    <ul>
      <a>Categories</a>
      <li>
        <a href="index.html">Homepage</a>
        <i class="fas fa-home"></i>
      </li>
      <li>
        <a href="#">Tournament</a>
        <i class="fas fa-trophy"></i>
      </li>
      <li>
        <a href="#">Players</a>
        <i class="fas fa-users"></i>
      </li>
    </ul>
    <ul>
      <a>My account</a>
      <li>
        <a href="#">Settings</a>
        <i class="fas fa-cog"></i>
      </li>
    </ul>
  </div>
</nav>
